# User-specific files
*.suo
*.user
*.sln.docstates

# User-specific files
*.userprefs

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/vim.xml
.idea/gradle.xml

# Built binaries
[Bb][uU][iI][lL][dD]/*
*.exe
*.lib
*.def
*.dll
*.o
*.a

